@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.about-style {
	margin: 10px auto;
	left:0;
	font-family: var(--body-font);
	font-size: 110%;
	font-weight: 600;
	line-height: 2.0;
	/* text-shadow: 1px 1px rgba(0,0,0,.4); */
}
.nav-font-type {
	font-family: var(--nav-font);
	text-transform: uppercase;
	font-weight: 700;
}

.img-about {
	margin-top: 20px;
	caption-side: bottom;
	text-align: center;
}

.img-about img {
	width: 120px;
	height: auto;
	box-shadow: 1px 3px 1px rgba(66,66,66,.6); 
	border-radius: 10px;
	
}

.img-about .caption {
	font-size: 100%;
	/* font-family: 'Nanum Gothic', 'Montserrat',sans-serif; */
	text-shadow: 1px 1px rgba(0,0,0,.6);  

}

.ani-bg {
  background-color: var(--bg-color);
  background-image:  url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle opacity="0.8" fill="%23FFFFFF" cx="28.75" cy="22.338" r="0.713"/><circle opacity="0.2" fill="%23FFFFFF" cx="26.75" cy="79.443" r="0.307"/><circle opacity="0.5" fill="%23FFFFFF" cx="50" cy="41.884" r="0.308"/><circle fill="%23FFFFFF" cx="12.883" cy="42.25" r="0.367"/><circle opacity="0.4" fill="%23FFFFFF" cx="80" cy="72.818" r="0.307"/><circle opacity="0.5" fill="%23FFFFFF" cx="55.625" cy="12.375" r="0.308"/><circle opacity="0.2" fill="%23FFFFFF" cx="73.307" cy="89.375" r="0.308"/><circle opacity="0.5" fill="%23FFFFFF" cx="73" cy="53.884" r="0.308"/><circle opacity="0.5" fill="%23FFFFFF" cx="38.875" cy="89.432" r="0.385"/></svg>');
  background-size: 20rem 20rem;
  background-position: center 0;
  animation: bg 2s linear infinite;
  overflow: hodden;
}

.ship {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  margin: auto;
  animation: move 2s linear infinite alternate;
}
.body {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e3e3e3;
  box-shadow: inset 0 -5px 5px rgba(22, 48, 64, 0.5);
  z-index: 1000;
  font-family: var(--table-font);
}

.vawes {
  position: relative;
  top: -2rem;
  left: -2rem;
  width: 7rem;
  height: 7rem;
  fill: none;
}
.wave_1, .wave_2 {
  stroke: rgba(227, 227, 227, 0.7);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 2;
  animation: wave 2s infinite linear;
  opacity: 0;
  transform-origin: center;
  animation-delay: 0.1s;
}
.wave_2 {
  animation-delay: 1s;
}
@keyframes wave {
  from { transform: scale(0.45) rotate(0); opacity: 1; }
  to { transform: scale(1) rotate(20deg); opacity: 0;}
}
@keyframes move {
  from { transform: rotate(-10deg);}
  to { transform: rotate(10deg);}
}
@keyframes bg {
  to { background-position: center 20rem;}
}
@keyframes eyes {
  from { transform: translateX(-0.4rem)}
  to { transform: translateX(0.4rem)}
}
@keyframes eye {
  40% { transform: scaleY(1)}
  50% { transform: scaleY(0)}
  60% { transform: scaleY(1)}
}

/* Responsive Table Code */
.table-css {
    color: #0288d1;
}

.table-html {
    color: #558b2f;
}

.table-javascript {
    color: #f57c00;
}

.table-jquery {
    color: #78909c;
}

.table-nomal {
    color: #323232;
}

.bg-table {
	background: #f2f2f2;
}

table {
  /* font-family: 'Nanum Gothic', 'Montserrat',sans-serif; */
  font-family: var(--table-font);
  border: 0px solid #ccc;
  /* border-collapse: collapse; */
  margin-bottom: 5px;
  padding: 0;
  /* width: 100%; */
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0px 3px;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table td {
  padding: .625em;
  text-align: left;
  border: 1px solid #ddd;
  background-color: white;
  font-size: 0.9rem;
}

table th {
  background-color: #f8f8f8;	
  font-size: 1rem;
  text-transform: uppercase;
  padding: .800em;
  width: 18%;
  border: 1px solid #ddd;
  border-right: none;
}

.modal-paragraph-head {
	font-size : 1.1 rem;
	font-weight: 500;
	color: crimson;
}

@media screen and (max-width: 600px) {
  .portfolio-modal .portfolio-modal-dialog .container{
	padding: 0;
  }
  
  table {
	border: 0;
	/* font-family: 'Nanum Gothic', 'Montserrat',sans-serif; */
	left: 0;
	font-family: var(--table-font);
	width: 100%;
	/* border-collapse: collapse; */
	/* margin-bottom: 5px; */
	padding: 0;
  }

  table caption {
    font-size: 1.3em;
    margin: 0 0 0;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
  	/* font-family: 'Nanum Gothic', 'Montserrat',sans-serif; */
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    border-radius: 4px;
  }
  
  table th {
  	/* font-family: 'Nanum Gothic', 'Montserrat',sans-serif; */
  	border-right: 1px solid #ddd;
  }
  
  table td {
  	/* font-family: 'Nanum Gothic', 'Montserrat',sans-serif; */
  	border : none;
 	display: block;
    text-align: left;
    margin-left: 2px;
    /* word-break: break-all; */
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

#table-project-description {

}

/* CSS Simple Pre Code */
.imgs {
	width:100%; 
	display: none;
	border: 1px solid #d9d9d9; 
	box-shadow: 0 1px 1px rgba(0,0,0,.08); 
	border-radius: 4px;
	padding: 10px;
	background-color: white;
}

.imgs.imgs-first
{
	display: block;
}

pre {
    background: #fff;
    white-space: pre;
    word-wrap: break-word;
}

pre.code {
	/* font-family: 'BM HANNA', '배달의민족 한나',sans-serif; */
	font-family: 'Montserrat';
    margin: 10px 0px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
}

pre.code label {
/* 	font-family: 'BM HANNA', '배달의민족 한나',sans-serif;
	font-family: 'Montserrat'; */
    font-weight: normal;
    font-size: 13px;
    color: #444;
    position: absolute;
    left: 1px;
    top: 16px;
    text-align: center;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

pre.code code {
    /* font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace; */
    /* font-family: 'BM HANNA', '배달의민족 한나',sans-serif; */
    font-family: 'Montserrat';
	display: block;
    overflow-x: auto;
    margin: 0 0 0 60px;
    padding: 15px 16px 14px;
    border-left: 1px solid #d9d9d9;
    font-size: 14px;
    line-height: 19px;
    color: #444;
}

/* timeline */


#history .container {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}

#history .container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}


.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
/*    display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both; */
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 9999
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}

@media screen and (max-width: 768px) {
   /*
   .container:before {
      left: 8px;
      width: 2px;
   }
   */
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}


/* Profile card */

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #202020;
  font-family: "Krub", sans-serif;
}
 */
.card {
  position: realtive;
  margin: 0px auto 20px;
/*
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
*/
  width: 250px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  /* background: #151515; */
  background: #272727;
  overflow: hidden;
  /* font-family: var(--card-font); */
}
.card .ds-top {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 120%;
  height: 80px;
  background: var(--card-color);
  animation: dsTop 1.5s;
}
.card .avatar-holder {
  position: absolute;
  margin: auto;
  top: 40px;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #151515, inset 0 0 0 2px #000000, inset 0 0 0 2px #000000, inset 0 0 0 2px #000000, inset 0 0 0 2px #000000;
  background: white;
  overflow: hidden;
  animation: mvTop 1.5s;
  /* font-family: var(--card-font); */
}
.card .avatar-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .name {
  position: absolute;
  margin: 150px auto;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
  /* font-family: var(--card-font); */
}
.card .name a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.card .name a:hover {
  text-decoration: underline;
  color: var(--card-color);
}
.card .name h6 {
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0px;
  color: white;
  width: auto;
 /*  font-family: var(--card-font); */
  
}
.card .button {
  position: absolute;
  margin: auto;
  padding: 8px;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
  outline: none;
}

.card .button a {
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-size: 10px;
  transition: all 1s;
}
.card .button a:hover {
  color: white;
  background: var(--card-color);
  
}
.card .ds-info {
  position: absolute;
  margin: 200px auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: inherit;
  height: 40px;
  display: flex;
  /* font-family: var(--card-font); */
}
.card .ds-info .pens, .card .ds-info .projects, .card .ds-info .posts {
  position: relative;
  left: -300px;
  /* width: calc(100 / 1); */
  width: inherit;
  /* margin-left: 5px; */
  text-align: center;
  color: white;
  animation: fadeInMove 2s;
  animation-fill-mode: forwards; 
}
.card .ds-info .pens h6, .card .ds-info .projects h6, .card .ds-info .posts h6 {
  text-transform: uppercase;
  color: var(--card-color);
}
.card .ds-info .pens p, .card .ds-info .projects p, .card .ds-info .posts p {
  font-size: 12px;
}
.card .ds-info .ds:nth-of-type(2) {
  animation-delay: 0.5s;
}
.card .ds-info .ds:nth-of-type(1) {
  animation-delay: 1s;
}
.card .ds-skill {
  position: absolute;
  margin: auto;
  bottom: 130px;
  right: 0;
  left: 0;
  width: 200px;
  height: 100px;
  animation: mvBottom 1.5s;
  /* font-family: var(--card-font); */
}
.card .ds-skill h6 {
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--card-color);
  /* font-family: var(--card-font); */
}
.card .ds-skill .skill h6 {
  font-weight: 400;
  font-size: 8px;
  letter-spacing: 0.05em;
  margin: 4px 0;
  color: white;
}
.card .ds-skill .skill .fab {
  color: var(--card-color);
  font-size: 14px;
}
.card .ds-skill .skill .bar {
  height: 5px;
  background: var(--card-color);
  text-align: right;
}
.card .ds-skill .skill .bar p {
  color: white;
  font-size: 8px;
  padding-top: 5px;
  animation: fadeIn 5s;
}
.card .ds-skill .skill .bar:hover {
  background: white;
}

.card .ds-skill .skill .bar-java {
  width: 90%;
  animation: javaSkill 1s;
  animation-delay: 0.4s;
}

.card .ds-skill .skill .bar-c {
  width: 75%;
  animation: cSkill 2s;
  animation-delay: 0.4s;
}

.card .ds-skill .skill .bar-py {
  width: 70%;
  animation: pySkill 3s;
  animation-delay: 0.4s;
}

.card .ds-skill .skill .bar-html {
  width: 60%;
  animation: htmlSkill 4s;
  animation-delay: 0.4s;
}
.card .ds-skill .skill .bar-css {
  width: 55%;
  animation: cssSkill 5s;
  animation-delay: 0.4s;
}
.card .ds-skill .skill .bar-js {
  width: 55%;
  animation: jsSkill 5s;
  animation-delay: 0.4s;
}



@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes javaSkill {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes cSkill {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@keyframes pySkill {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes htmlSkill {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
@keyframes cssSkill {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}
@keyframes jsSkill {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}
@keyframes mvBottom {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 130px;
  }
}
@keyframes mvTop {
  0% {
    top: -150px;
  }
  100% {
    top: 40px;
  }
}
@keyframes dsTop {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}
.following {
  color: white;
  background: var(--card-color);
}
